version: "3.8"

services:
  app:
    build: .
    container_name: event_management_app
    environment:
      - SPRING_PROFILES_ACTIVE=prod
      - SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/event_management_db
      - SPRING_DATASOURCE_USERNAME=new_user
      - SPRING_DATASOURCE_PASSWORD=new_password
    ports:
      - "8080:8080"
    depends_on:
      - db
    networks:
      - app-network

  db:
    image: postgres:latest
    container_name: event_management_db
    environment:
      - POSTGRES_USER=new_user
      - POSTGRES_PASSWORD=new_password
      - POSTGRES_DB=event_management_db
    volumes:
      - ./init-db.sql:/docker-entrypoint-initdb.d/init-db.sql
    ports:
      - "5432:5432"
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
    driver: local
